@import 'appBase';

.wrapper {
  @include py(1);
  display: inline-flex;
  cursor: pointer;
  width: 100%;

  > svg {
    margin-right: 8px !important;
  }
}

.details {
  font-size: 13px;
  line-height: 16px;
  color: $color-black;
}
