@import '~styles/base';

.wrapper {
  padding-top: 168px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-top: 67px;
  }
}

.firstSection {
  max-height: 630px;

  .firstCol {
    @include media-breakpoint-down(sm) {
      order: 2;
      padding-top: 20px;
    }
  }

  .secondCol {
    justify-content: flex-end;
    @include media-breakpoint-down(sm) {
      order: 1;
    }
  }
}

.secondSection {
  @include mt(7);

  @include media-breakpoint-down(sm) {
    margin-top: 90px;
  }

  .secondCol {
    padding-left: 140px;
    @include media-breakpoint-down(sm) {
      @include pl(0);
      margin-top: 20px;
    }
  }
}

.thirdSection {
  @include mt(7);
  margin-bottom: 90px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 60px;
    margin-top: 90px;
  }

  .firstCol {
    @include media-breakpoint-down(sm) {
      order: 2;
      padding-top: 20px;
    }
  }

  .secondCol {
    justify-content: flex-end;
    @include media-breakpoint-down(sm) {
      order: 1;
    }
  }
}

.section {
  @include container($fluid: true, $gutter: false, $max-widths: 100%);

  @include media-breakpoint-down(sm) {
    @include flex(column, center, center);
  }

  .col {
    @include col(6, $gutter: false);

    @include media-breakpoint-down(sm) {
      @include col($gutter: false);
    }
  }
}

.img {
  width: 100%;
  display: block !important;
}
