@import 'appBase';

.button {
  font-size: 12px;
  color: $color-red-lighter;
  font-weight: bold;

  &:hover {
    color: $color-red-light;
  }

  &:before {
    content: '+';
    margin-right: 5px;
  }
}
