@import 'appBase';

.icon {
  @include size(24px, 20px);
  @include my(0);
  @include absolute(right 15px);
  transition: 0.3s;
  fill: $color-green2;
  @include media-breakpoint-variant(down sm) {
    position: static;
  }
}

.iconActive {
  fill: $color-primary-brand;
}
